* {
box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

header {
    background-color: black;
    color: white; 
    padding: 20px;
}

header h1, .title-header {
    margin: 20px;
    text-align: center;
}

.title-header-p {
font-weight: 100;
}


.break1 {
    padding: 2px;
    background-color: black;
}

.break2 {
    padding: 1px;
    background-color: black;
}

.container1 {
    background: #f1f3f68c;
    border-top: 3px solid black;
    transition: 2s ease-in;
}


legend {
    font-size: larger;
    font-weight: bold;

}



label {
   color: rgb(108 105 105);
   line-height: 1.5;
   flex-basis: 25%;
}

input, textarea, select {
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    background-color: #f0ebeb;
    border-radius: 3px;
    border-color: transparent;
    transition: 2s ease-in-out 0s;

}

input::placeholder {
    font-style: italic;
    padding-left: 10.9rem;
    font-family: 'Merriweather', serif;
}

input:focus {
    background-color: rgb(210, 219, 219);
  }

   textarea:focus {
    background-color: rgb(210, 219, 219);
  }



input[type="zip"]::placeholder {
    font-style: italic;
    padding-left: 40%;
    font-family: 'Merriweather', serif;
}

textarea[id="info"]::placeholder {
    font-style: italic;
    padding-left: 75%;
    font-family: 'Merriweather', serif;
}


input[type="zip"] {
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 1px;
    padding-bottom: 10px;
    max-width: 50%;
}

.top-input {
    width: 100%;
}

#info {
    width: 100%;
    height: 75px;
}


fieldset {
    border-color: transparent;
 }

select {
    padding: 15px 90px 15px 90px;
    font-family: 'Merriweather', serif;
    color: rgb(163 158 158);
}


button[type="submit"] {
    margin-top: 0.5rem;
    padding-left: 4.5em;
    padding-top: 15px;
    padding-right: 3em;
    padding-bottom: 20px;
    background-color: rgb(80,188,180);
    border-color: transparent;
    border-radius: 6px;
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 1.5em;
    width: 100%;
}

button:hover {
    background: rgb(95, 226, 217);
}

footer {
    margin: 50px;
    color: rgb(108 105 105);
    text-align: center;
}



/*MEDIA QUERIES*/
@media (min-width: 768px)  {
    .break1, .break2 {
        width: 600px;
    }

    .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
   .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}


.top-input {
    margin: 15px;
    width: 400px;
}

input::placeholder {
    padding-left: 18rem;
}


input[type="zip"]::placeholder {
    padding-left: 47%;
}

input[type="zip"] {
    max-width: 25%;
}

#info {
    width: 372px;
    height: 85px;
}
  }